# Ignore python virtual environments
venv*/

# Ignore caches
.cache/
.pytest_cache/

# Ignore python setuptools packaging
*.egg-info/
*.eggs/

# Ignore compiled python files
*.pyc
__pycache__/

# Ignore Sublime Text files
*.sublime-workspace
